<main class="page__main">
  <div class="main">
    
    
    <div class="series-section-container">
      <section class="favorite__series-section">
        <div class="js-list-fav hidden">
          <div class="series__list-fav">
            <!-- Aquí se muestra el listado de series favoritas -->
          </div>
          <button type="reset" class="btn-reset-all"><i class="fas fa-trash-alt"></i> Borrar favoritos</button>
        </div>
      </section>
      
      <section class="series-search-section" >
        <form class="js-list-series hidden">
          <label for="search-input" class="label-input">Busca aquí tu serie y márcala si es tu favorita</label> <br><br>
          <input id="search-input" type="text" placeholder="Sherlock" class="search js-search" required />
          <button type="submit" class="btn__search">
            <i class="fas fa-search"></i>
            Buscar
          </button>
        </form>
        <div class="search-results">
          <p class="search-results-text hidden">Resultado de la búsqueda: </p>
          
          
          <div class="series__list">
            <!-- Aquí se muestra el listado de la búsqueda -->
          </div>
          
        </div>
      </div>
    </section>
  </div>
</div>
</main>
