<main class="page__main">
  <div class="main">
  

    <div class="series-section-container">
      <section class="favorite__series-section">
        <div class="js-list-fav hidden">
          <p class="no-series">Aún no has añadido ninguna serie a tu lista</p>

          <ul>
            <li class="favorite__series">
              <h3 class="favorite__series-name"></h3>
              <div class="favorite__series-img-container">
                <img class="favorite__series-img" />
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="series-search-section" >
        <div class="js-list-series hidden">
          <label for="search-input" class="label-input">Busca aquí tu serie y márcala si es tu favorita</label> <br><br>
          <input id="search-input" type="text" placeholder="Sherlock" class="search js-search" />
          <button type="submit" class="btn__search">
            <i class="fas fa-search"></i>
            Buscar
          </button>
        </div>
        <div class="search-results">
          <p class="search-results-text hidden">Resultado de la búsqueda</p>
          <ul class="series__list"></ul>
        </div>
      </div>
      </section>
    </div>
  </div>
</main>
