// Fonts
$font-main: 'Roboto', sans-serif;
$font-titles: 'Roboto Slab', serif;

// colors
$primary-color: #27201a;
$secondary-color: #433931;
$grey: #76695d;
$light-color: #ffffff;
$dark-pink: #8b5e47;
$pink: #d29b7e;
$shadows: rgba(0, 0, 0, 0.5);
