.page-header {
  background-color: $primary-color;
}
.header {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  &__title {
    color: $light-color;
    font-size: 4rem;
    font-family: $font-titles;
  }
}
