// MAIN DE LA PÁGINA
.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  background-color: $light-color;
  min-height: 100vh;
}

.page__main {
  background-image: url('https://s.yimg.com/uu/api/res/1.2/TMEOEDhleeoZfzGU1sSvsw--~B/aD01NTI7dz03MzY7c209MTthcHBpZD15dGFjaHlvbg--/http://media.zenfs.com/en_US/News/BGR_News/d53ed2bb25291c7610ee942f5a7e334f.jpg');
}

.sections-tittles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// SECCIÓN DE FAVORITOS

.favorite__series-title {
  font-size: 1.7rem;
  margin-bottom: 25px;
  color: $pink;
  border-right: 2px solid $dark-pink;
  border-left: 2px solid $dark-pink;
  padding: 15px;
  cursor: pointer;
  transition: color box-shadow border-left border-right ease 0.8s;
  &:hover {
    color: $dark-pink;
    box-shadow: 0 2px 4px 0 $shadows;

    border-left: 2px solid $pink;
  }
}

//Cuando no hay ninguna serie en favoritos
.no-series {
  font-family: $font-main;
  font-size: 1.5rem;
  color: $grey;
  text-align: center;
  &-text {
    margin: 20px 0;
    font-size: 1.1rem;
    color: $dark-pink;
    text-align: center;
  }
  &-img-container {
    width: 400px;
    height: 400px;
    margin-top: 30px;
  }
  &-img {
    width: 100%;
  }
}
.favorite__series-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  text-align: justify;
}

.series__list-fav {
  display: flex;
  flex-wrap: wrap;
}

// SECCIÓN DE BÚSQUEDA

.series-search-title {
  font-size: 1.7rem;
  margin-bottom: 25px;
  color: $pink;
  padding: 15px;
  border-left: 2px solid $dark-pink;
  border-right: 2px solid $dark-pink;
  cursor: pointer;
  transition: color box-shadow border-right ease 0.8s;
  &:hover {
    color: $dark-pink;
    box-shadow: 0 2px 4px 0 $shadows;
    border-right: 2px solid $pink;
  }
}

.series-search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  text-align: justify;
  background-color: $light-color;
}

.search {
  width: 200px;
  height: 40px;
  padding: 5px;
  border: 2px solid $pink;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: border-color box-shadow border ease 0.8s;
  &:hover {
    border-color: $dark-pink;
    box-shadow: 0 2px 4px 0 $shadows;
  }
  &:focus {
    outline: none;
  }
}
.label-input {
  font-size: 1.7rem;
  color: $dark-pink;
  font-family: $font-titles;
  margin-bottom: 25px;
}

.btn__search {
  width: 120px;
  height: 50px;
  background-color: $dark-pink;
  color: $light-color;
  border: 1px solid $pink;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 4px;
  cursor: pointer;

  transition: background-color box-shadow border ease 0.8s;
  &:hover {
    background-color: $pink;
    box-shadow: 0 2px 4px 0 $shadows;
  }
  &:focus {
    outline: none;
  }
}

// Icono lupa
.fa-search {
  font-size: 1rem;
}
//Párrafo inicial a los resultados
.search-results-text {
  margin: 20px 0px;
  font-size: 1.3rem;
  color: black;
  font-weight: 400;
}

.series__list {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
