.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  background-color: $light-color;
}

.page__main {
  background-image: url('https://cdn.pixabay.com/photo/2016/01/19/16/49/old-tv-1149416_1280.jpg');
}

.sections-tittles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
// SECCIÓN DE FAVORITOS

.favorite__series-title {
  font-size: 1.95rem;
  margin-bottom: 25px;
  color: $pink;
  border-right: 2px solid $dark-pink;
  border-left: 2px solid $dark-pink;
  padding: 15px;
  cursor: pointer;
}
.no-series {
  font-family: $font-main;
  font-size: 1.5rem;
  color: $grey;
  text-align: center;
  &-text {
    margin: 20px 0;
    font-size: 1.1rem;
    color: $dark-pink;
    text-align: center;
  }
  &-img-container {
    width: 500px;
    height: 500px;
    margin-top: 30px;
  }
  &-img {
    width: 100%;
  }
}
.favorite__series-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  text-align: justify;

  // border-top: 3px solid $dark-pink;
}

// SECCIÓN DE BÚSQUEDA

.series-search-section {
  padding: 20px;
  height: 100vh;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  align-items: flex-start;
  background-color: $light-color;
}

.series-search-title {
  font-size: 1.95rem;
  margin-bottom: 25px;
  color: $pink;
  padding: 15px;
  border-left: 2px solid $dark-pink;
  border-right: 2px solid $dark-pink;
  cursor: pointer;
}

.search {
  width: 200px;
  height: 40px;
  padding: 5px;
  border: 2px solid $pink;
  margin-right: 10px;
  font-size: 1.2rem;
  transition: border-color box-shadow border ease 0.8s;
  &:hover {
    border-color: $dark-pink;
    box-shadow: 0 2px 4px 0 $shadows;
  }
  &:focus {
    outline: none;
  }
}
.label-input {
  font-size: 1.7rem;
  color: $dark-pink;
  font-family: $font-titles;
  margin-bottom: 25px;
}

.btn__search {
  width: 120px;
  height: 50px;
  background-color: $dark-pink;
  color: $light-color;
  border: 1px solid $pink;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 4px;
  cursor: pointer;

  transition: background-color box-shadow border ease 0.8s;
  &:hover {
    background-color: $pink;
    box-shadow: 0 2px 4px 0 $shadows;
  }
  &:focus {
    outline: none;
  }
}

// Icono lupa
.fa-search {
  font-size: 1rem;
}

.search-results-text {
  margin: 20px 20px;
  font-size: 1.5rem;
  color: $dark-pink;
  font-weight: 400;
}

.ul-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
