.serie {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $secondary-color;
}
.serie-name {
  font-size: 1.5rem;
  margin-bottom: 15px;

  text-align: center;
}

.serie-img {
  width: 210px;
  height: 320px;
  border-radius: 10px;
}

// CAMBIOS AL SELECCIONAR COMO FAVORITA UNA SERIE

.fav {
  background-color: $pink;
  color: $light-color;
  box-shadow: 0 2px 4px 0 $shadows;
  border-radius: 15px;
}
